<!DOCTYPE html>
<html>
<head>
  <title>EventMeet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="EventMeet" ng-controller="MainCtrl">
  <div ng-repeat="participant in participants">
  {{participant}}
</div>
</body>
</html>